@import "../../../App.scss";

.progress-bar-container {
  width: 500px;
  height: 10px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #805ec5;
  width: 50px; /* Initially, the width is 0 */
  transition: width 0.3s ease-in-out;
}

.progress-container {
  justify-content: left;
  align-items: center;
}

.flex-container {
  width: 49%;
}

.flex-around {
  display: flex;
  justify-content: space-between;
}

.spacer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.flex-vertical {
  height: 48%;
}

.form {
  padding: 0rem 0rem 2rem 0rem;
}
