@import "../../../App.scss";

body {
  background-color: #805ec5;
}

.progress {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  width: 70%;
}

.progress-bar {
  height: 15px;
  border-radius: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar {
  width: 85%;
  background-color: darkmagenta;
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: darkmagenta;
  }
  100% {
    width: 85%;
    background-color: darkmagenta;
  }
}

.progress-container-before {
  padding: 0 5%;
}

.progress-container-before:first-of-type {
  padding: 0 5% 0 20%;
}

.progress-container-after {
  padding: 0 5%;
}

.progress-container-after:first-of-type {
  padding: 0 5% 0 20%;
}

.progress-container-before::after {
  content: "";
  position: inline-block;
  width: 0;
  margin: 0rem 50%;
  height: 0;
  border: 1em solid transparent;
  border-top-color: #000;
  border-bottom: 0;
}

.progress-container-after::before {
  content: "";
  position: inline-block;
  width: 0;
  margin: 0 50%;
  height: 0;
  border: 1em solid transparent;
  border-bottom-color: #000;
  border-top: 0;
}

.divider {
  border-left: 0.3rem solid black;
  border-radius: 5rem;
  height: 18rem;
  align-self: center;
  margin: 1rem 0rem;
}
