/*************************************************
!--Document Rules--!

1. Order of specificty: id class subclass element.
2. Each defintion and the defintions properties are ordered in alphabetical order.
3. 
**************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*************************************************
!--Variables--!
**************************************************/
$purple-color: #805ec5;
$white-color: #fffbfa;
$grey-color: #c5c3c6;
$green-color: #55dba2;
/*************************************************
!--Mixins--!
**************************************************/
@mixin container($width) {
  display: inline-block;
  width: $width;
  height: 100%;
  border-radius: 0.3rem;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

/*************************************************
!--General--!
Note: Only elements allowed
**************************************************/
body {
  background-color: $white-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

/*************************************************
!--Search Box Properties--!
**************************************************/

.search-box {
  align-self: center;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  background-color: $white-color;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 1.5px;
  padding: 5px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.search-icon {
  width: 100%;
  height: 100%;
  color: $purple-color;
}

/*************************************************
!--End Search Box Properties--!
**************************************************/

/*************************************************
!--Container Properties--!
**************************************************/
.background-green {
  background-color: $green-color;
  color: $purple-color;
  border-radius: 0.2rem;
}

.background-grey {
  background-color: $grey-color;
  color: black;
  border-radius: 0.2rem;
}

.background-purple {
  background-color: $purple-color;
  color: $white-color;
  border-radius: 0.2rem;
}

.background-white {
  background-color: $white-color;
  color: black;
  border-radius: 0.2rem;
}

.button-purple {
  background-color: $purple-color;
  border: none;
  border-radius: 0.2rem;
  color: $white-color;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1rem;
  margin: 1rem;
}

.card-image {
  border-radius: 0.2rem;
  width: 95%;
  display: block;
  margin: 1rem auto;
}

.center-items {
  align-items: center;
  justify-content: center;
}

.spread-items {
  align-items: center;
  justify-content: space-between;
}

.space-items {
  align-items: center;
  justify-content: space-evenly;
}

.flex-column {
  @include flex(column);
}

.flex-row {
  @include flex(row);
}

.label-container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 2rem;
}

.margin {
  margin: 0rem 10rem;
}

.section-spacer {
  margin: 2rem 0rem;
}

/*************************************************
!--Search Box Properties--!
**************************************************/

.search-box {
  align-self: center;
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  background-color: $white-color;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  right: 1.5px;
  padding: 5px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.search-icon {
  width: 100%;
  height: 100%;
  color: $purple-color;
}

/*************************************************
!--End Search Box Properties--!
**************************************************/

.spacer-vertical {
  width: 49%;
}

.spacer-horizontal {
  height: 48%;
}

/*************************************************
!--Home Page--!
**************************************************/
#home-page {
  background-color: $white-color;
}

#home-page .container {
  @include container(100%);
}

#active-fundraisers {
  background-color: $purple-color;
}

#home-page .news-image {
  margin: 1rem;
  width: 25%;
  display: flex;
}

#home-page .news-image h3 {
  color: white;
  opacity: 0;
  text-align: center;
  position: absolute;
  width: 16rem;
  flex: 1;
}

#home-page .news-image:hover h3 {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 1;
}

#home-page .news-image img {
  width: 100%;
  border-radius: 0.2rem;
}

#home-page .news-image:hover img {
  filter: brightness(50%);
  transition: filter 0.5s ease-in;
  z-index: 0;
}

/*************************************************
!--Statistics Page--!
**************************************************/
#statistics {
  background-color: $white-color;
}

#statistics .container {
  @include container(100%);
  height: fit-content;
}

/*************************************************
!--Active Fundraisers Page--!
**************************************************/
#activefundraisers {
  background-color: $purple-color;
}

#activefundraisers .container {
  @include container(95%);
  margin: 1rem 2.5%;
}

/*************************************************
!--Radio Button properties--!
**************************************************/

.radio-button-form {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

input[type="radio"] {
  --s: 2rem; /* control the size */
  --c: #805ec5; /* the active color */

  height: var(--s);
  width: var(--s);
  margin: 0.45rem 0.25rem;
  aspect-ratio: 1;
  border: calc(var(--s) / 8) solid #939393;
  padding: calc(var(--s) / 16);
  background: radial-gradient(farthest-side, var(--c) 50%, #0000) 50%/0 0
    no-repeat content-box;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type="radio"]:checked {
  border-color: var(--c);
  background-size: 100% 100%;
}

input[type="radio"]:disabled {
  background: linear-gradient(#939393 0 0) 50%/100% 20% no-repeat content-box;
  opacity: 0.5;
  cursor: not-allowed;
}

@media print {
  input[type="radio"] {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: none;
  }
}

label {
  display: inline-flex;
  cursor: pointer;
  justify-content: space-between;
  font-size: 2rem;
}

/*************************************************
!--End Radio Button Properties--!
**************************************************/

/*************************************************
!--Check Box properties--!
**************************************************/
$main: $purple-color; //#008cff;
$grey: $purple-color;
$bezier: cubic-bezier(0.65, 0.25, 0.56, 0.96);

.mcui-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0.5em 0em;
  box-sizing: border-box;
  margin: 0rem 0rem;

  input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  input[type="checkbox"] + div {
    border: 0.25rem solid $grey;
    height: 1em;
    width: 1em;
    box-sizing: border-box;
    border-radius: 0.2rem;
    position: relative;
  }

  input[type="checkbox"] ~ div:last-child {
    padding-left: 0.5em;
  }

  input[type="checkbox"]:checked + div {
    border-color: $main;
    transition: border-color 107ms $bezier;

    .mcui-check {
      opacity: 1;
      transition: opacity 107ms $bezier;

      polyline {
        animation: dash-check 107ms $bezier forwards;
      }
    }
  }

  input[type="checkbox"]:enabled ~ div {
    cursor: default;
  }
}

.mcui-check {
  height: 100%;
  width: 100%;
  transform: scale(1.5);
  color: $main;
  opacity: 0;

  polyline {
    fill: none;
    stroke-width: 5px;
    stroke-dasharray: 22.771367900227325;
    stroke: currentColor;
    transform: translateY(-0.5rem);
  }
}
/*************************************************
!--End Check Box properties--!
**************************************************/

/*************************************************
!--Navbar properties--!
**************************************************/
#navbar {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0rem;
  z-index: 999;
  width: 100%;
  background-color: $white-color;
}

#navbar ul {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin: 0;
}

#navbar li {
  margin-left: -2px;
}

#navbar li:first-child a {
  border-radius: 0.2rem 0 0 0.2rem;
}

#navbar li:last-child a {
  border-radius: 0 0.2rem 0.2rem 0;
}

#navbar a {
  background-color: $white-color;
  color: $purple-color;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600rem;
  border: 2px solid $white-color;
  height: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0;
  position: relative;
  transition: color 0.15s ease, borer-color 0.15s ease;
}

#navbar a:hover,
a:focus,
a:active {
  outline: 0;
  color: $grey-color;
  border-color: $grey-color;
  z-index: 1;
}

#navbar a span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar a span svg {
  margin-right: 0.375em;
  width: 1.5em;
  height: 1.5em;
}

#navbar li {
  list-style: none;
}

/*************************************************
!--End Navbar Properties--!
**************************************************/
