/*************************************************
!--Document Rules--!

1. Order of specificty: id class subclass element.
2. Each defintion and the defintions properties are ordered in alphabetical order.
3. 
**************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*************************************************
!--Variables--!
**************************************************/
$purple-color: #805ec5;
$white-color: #fffbfa;
$grey-color: #c5c3c6;

/*************************************************
!--Mixins--!
**************************************************/
@mixin container($width) {
  display: inline-block;
  width: $width;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

/*************************************************
!--General--!
Note: Only elements allowed
**************************************************/
body {
  background-color: $white-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
span {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

button {
  background-color: $purple-color;
  border: none;
  border-radius: 0.5em;
  color: $white-color;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1rem;
}

/*************************************************
!--Container Properties--!
**************************************************/
.background-grey {
  background-color: $grey-color;
  color: black;
}

.background-purple {
  background-color: $purple-color;
  color: $white-color;
}

.background-white {
  background-color: $white-color;
  color: black;
}

.card-image {
  border-radius: 0.5rem;
  display: block;
  margin: 1rem;
  width: 100%;
}

.center-items {
  align-items: space-evenly;
  justify-content: space-evenly;
}

.spread-items {
  align-items: space-between;
  justify-content: space-between;
}

.flex-column {
  @include flex(column);
}

.flex-row {
  @include flex(row);
}

.margin {
  margin: 0rem 10rem;
}

.spacer-vertical {
  width: 49%;
}

.spacer-horizontal {
  height: 48%;
}

/*************************************************
!--Home Page--!
**************************************************/
#home-page {
  background-color: $white-color;
}

#home-page .container {
  @include container(100%);
}

#home-page .radio-button-form {
  font-family: "Poppins", sans-serif;
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

#home-page label {
  width: 1.2rem;
  height: 1.2rem;
  margin: 5px;
}

#home-page .margin {
  margin: 0rem 10rem;
}

#active-fundraisers {
  background-color: $purple-color;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
}

/* Create custom radio button when it's checked */
input[type="radio"]:checked {
  background-color: #805ec5;
  border-color: grey;
}

/* Optional: Hover effect for better user experience */
input[type="radio"]:hover {
  border-color: #999;
}

/* Optional: Active (when clicked) effect for better user experience */
input[type="radio"]:active {
  border-color: #555;
}
