@import "../../App.scss";

.image-container img {
  width: 100%;
  border-radius: 1rem;
}

.flex-card {
  display: flex;
}
.image-container {
  width: 15vw;
  margin: 1rem;
}

.card-margin {
  margin: 2rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
}
